.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar .nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffcc00; 
} 

/*roboto para cualquier texto*/
/*.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

.hero_t{
 font-family: "Noto Sans Syriac", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 40px;
  margin: 40px;
  display: flex;
flex-direction: row;
justify-content: center;
}






@media (max-width: 768px) {

}